@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root{
    height: 100%;
    width: 100%;
}

@layer base{
    nav ul li{
        @apply cursor-pointer hover:text-slate-800 p-3 sm:text-xl;
    }
    h1 {
        @apply text-[coral] font-[bold] p-[7px];
        background: transparent;
    }
    table {
        @apply min-w-max border-spacing-0 border-separate;
    }
    table th {
        @apply sticky bg-[#133b5c] text-[rgb(241,245,179)] text-center font-[normal] text-lg border-[1.5px] border-solid border-[black] top-0;
    outline: 0.7px solid black;
    }
    table th,
    table td {
        @apply py-2.5 p-[15px];
    }
    table td {
        @apply text-left text-[15px] border pl-5 border-solid border-[rgb(177,177,177)];
    }
}

@layer components{
    .footer{
        @apply shadow-md sm:rounded-lg absolute bottom-3 h-3 w-full;
    }
    @media only screen and (max-height: 600px) {
        .footer{
            display: none;
        }
    }
    .heading {
        @apply flex bg-[#232f3e] shadow-[0px_1px_2px_#232f3e];
    }
    .outer-wrapper {
        @apply border rounded shadow-[0px_0px_3px_rgba(0,0,0,0.9)] max-w-fit max-h-fit m-auto border-solid border-[black] mt-12;
    }
    .table-wrapper {
        @apply overflow-y-scroll overflow-x-scroll h-fit max-h-[66.4vh] mt-[22px] m-[15px] px-20 pb-5;
    }
}

