@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    height: 100%;
    width: 100%;
}

@layer base{
    nav ul li{
        @apply cursor-pointer hover:text-slate-800 p-3 sm:text-xl;
    }

}

@layer components{
    .footer{
        @apply shadow-md sm:rounded-lg absolute bottom-3 h-3 w-full;
    }
    @media only screen and (max-height: 600px) {
        .footer{
            display: none;
        }
    }
}

